<%- layout("/layouts/boilerplate") %>
<br>
<div class="row">
    <br><br>
    <H1 class="col-8 offset-2" style="color: rgb(16, 16, 233);">Signup to <b>Holidays-Handlers</b></H1>
    <hr />
    <div class="col-8 offset-2">
        <form action="/signup" method="POST" novalidate class="needs-validation">
            <div class="mb-3" >
                <label for="username" class="form-label">Username</label>
            <input name ="username" id="username" type="text" class="form-control" required />
            <div class="valid-feedback">username available!</div>
            </div>
            <div class="mb-3" >
                <label for="email" class="form-label">Email</label>
            <input name ="email" id="email" type="email" class="form-control" required />
            <div class="invalid-feedback">Email required!</div>
            </div>
            <div class="mb-3" >
                <label for="password" class="form-label">Password</label>
            <input name ="password" id="password" type="password" class="form-control" required />
            <div class="invalid-feedback">password required!</div>
            </div>
            <button class="btn btn-outline-success">Signup</button>
            
        </form>
    </div>
</div>